APP_DEBUG = trueAPP_ENV = local[APP]DEFAULT_TIMEZONE = Asia/ShanghaiDOMAIN = https://erp.admin.ittim.ltd[DATABASE]TYPE = mysqlHOSTNAME = localhostDATABASE = erpUSERNAME = erpPASSWORD = 123456HOSTPORT = 3306CHARSET = utf8DEBUG = true[CACHE]DRIVER = redisTYPE = redisHOST = localhostPORT = 6379PASSWORD = erpPREFIX = kjerp:[LANG]default_lang = zh-cn[JWT]SECRET=c02610911c8b8dcd22b6d95abd58a0ca