
    <table
      cellspacing="0"
      style="border-collapse: collapse; height: 1328px; width: 725px; max-width: 725px;"
    >
      <tbody>
        <tr>
          <td
            colspan="11"
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              height: 20px;
              text-align: center;
              vertical-align: middle;
              white-space: nowrap;
              font-size: 12px;
            "
          >
            <span
              ><span style="color: #000000"
                ><strong
                  ><H1><span style="font-family: 微软雅黑">{$contract['company_name']}</span></H1></strong
                ></span
              ></span
            >
          </td>
        </tr>
        <tr>
          <td
            colspan="11"
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              height: 15px;
              text-align: center;
              vertical-align: middle;
              white-space: nowrap;
              font-size: 12px;
            "
          >
            <span style="color: #000000"
                ><strong
                  ><H1><span style="font-family: 微软雅黑">采购合同</span></H1></strong
                ></span
              >
          </td>
        </tr>
        <tr>
          <td
            style="
              border-bottom: 1px solid #000000;
              border-left: none;
              border-right: none;
              border-top: none;
              height: 13px;
              text-align: center;
              vertical-align: middle;
              white-space: nowrap;
              width: 7%;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: 1px solid #000000;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: center;
              vertical-align: middle;
              white-space: nowrap;
              width: 10%;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: 1px solid #000000;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: center;
              vertical-align: middle;
              white-space: nowrap;
              width: 10%;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: 1px solid #000000;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: center;
              vertical-align: middle;
              white-space: nowrap;
              width: 10%;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: 1px solid #000000;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: center;
              vertical-align: middle;
              white-space: nowrap;
              width: 16%;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: 1px solid #000000;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: center;
              vertical-align: middle;
              white-space: nowrap;
              width: 7%;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: 1px solid #000000;
              border-left: none;
              border-right: none;
              border-top: none;
              vertical-align: bottom;
              white-space: nowrap;
              width: 10%;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: 1px solid #000000;
              border-left: none;
              border-right: none;
              border-top: none;
              vertical-align: bottom;
              white-space: nowrap;
              width: 10%;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: 1px solid #000000;
              border-left: none;
              border-right: none;
              border-top: none;
              vertical-align: bottom;
              white-space: nowrap;
              width: 5%;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: 1px solid #000000;
              border-left: none;
              border-right: none;
              border-top: none;
              vertical-align: bottom;
              white-space: nowrap;
              width: 10%;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: 1px solid #000000;
              border-left: none;
              border-right: none;
              border-top: none;
              vertical-align: bottom;
              white-space: nowrap;
              width: 5%;
            "
          >
            &nbsp;
          </td>
        </tr>
        <tr>
          <td
            colspan="1"
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              height: 16px;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            <span style="font-size: 12px"
              ><span style="color: #000000"
                ><strong
                  ><span style="font-family: 微软雅黑"
                    >需&nbsp;&nbsp;&nbsp; 方：</span
                  ></strong
                ></span
              ></span
            >
          </td>
          <td
            colspan="3"
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
              font-size: 12px;
            "
          >
            &nbsp;{$contract['company_name']}
          </td>
          <td
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            <span style="font-size: 12px"
              ><span style="color: #000000"
                ><strong
                  ><span style="font-family: 微软雅黑">供方：</span></strong
                ></span
              ></span
            >
          </td>
          <td
            colspan="6"
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
              font-size: 12px;
            "
          >
            &nbsp;{$contract['supply']['name']}
          </td>
        </tr>
        <tr>
          <td
            colspan="1"
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              height: 16px;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            <span style="font-size: 12px"
              ><span style="color: #000000"
                ><strong
                  ><span style="font-family: 微软雅黑">地址：</span></strong
                ></span
              ></span
            >
          </td>
          <td
            colspan="3"
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
              font-size: 12px;
            "
          >
            &nbsp;{$contract['company_address']}
          </td>
          <td
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            <span style="font-size: 12px"
              ><span style="color: #000000"
                ><strong
                  ><span style="font-family: 微软雅黑">地址：</span></strong
                ></span
              ></span
            >
          </td>
          <td
            colspan="6"
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
              font-size: 12px;
            "
          >
          &nbsp;{$contract['supply']['address']}
        </td>
        </tr>
        <tr>
          <td
            colspan="1"
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              height: 16px;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            <span style="font-size: 12px"
              ><span style="color: #000000"
                ><strong
                  ><span style="font-family: 微软雅黑">联系人：</span></strong
                ></span
              ></span
            >
          </td>
          <td
            colspan="3"
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
              font-size: 12px;
            "
          >
            &nbsp;{$contract['company_contacts']}
          </td>
          <td
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            <span style="font-size: 12px"
              ><span style="color: #000000"
                ><strong
                  ><span style="font-family: 微软雅黑">联系人：</span></strong
                ></span
              ></span
            >
          </td>
          <td
            colspan="6"
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
              font-size: 12px;
            "
          >
            &nbsp;{$contract['supply']['contacts']}
          </td>
        </tr>
        <tr>
          <td
            colspan="1"
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              height: 16px;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            <span style="font-size: 12px"
              ><span style="color: #000000"
                ><strong
                  ><span style="font-family: 微软雅黑"
                    >电&nbsp;&nbsp;&nbsp; 话：</span
                  ></strong
                ></span
              ></span
            >
          </td>
          <td
            colspan="3"
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
              font-size: 12px;
            "
          >
          &nbsp;{$contract['company_mobile']}
        </td>
          <td
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            <span style="font-size: 12px"
              ><span style="color: #000000"
                ><strong
                  ><span style="font-family: 微软雅黑">电话：</span></strong
                ></span
              ></span
            >
          </td>
          <td
            colspan="6"
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
              font-size: 12px;
            "
          >
          &nbsp;{$contract['supply']['contacts_phone']}
        </td>
        </tr>
        <tr>
          <td
            colspan="1"
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              height: 16px;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            <span style="font-size: 12px"
              ><span style="color: #000000"
                ><strong
                  ><span style="font-family: 微软雅黑">订单编号：</span></strong
                ></span
              ></span
            >
          </td>
          <td
            colspan="3"
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
              font-size: 12px;
            "
          >
            &nbsp;{$contract['code']}
          </td>
          <td
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            <span style="font-size: 12px"
              ><span style="color: #000000"
                ><strong
                  ><span style="font-family: 微软雅黑">签订日期：</span></strong
                ></span
              ></span
            >
          </td>
          <td
            colspan="6"
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
              font-size: 12px;
            "
          >
            &nbsp;{$contract['created_at']}
          </td>
        </tr>
        <tr>
          <td
            colspan="11"
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              height: 5px;
              text-align: center;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
        </tr>
        <tr>
          <td
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              height: 11px;
              text-align: center;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            <span style="font-size: 12px"
              ><span style="color: #000000"
                ><strong
                  ><span style="font-family: 微软雅黑">序号</span></strong
                ></span
              ></span
            >
          </td>
          <td
            colspan="3"
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              text-align: center;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            <span style="font-size: 12px"
              ><span style="color: #000000"
                ><strong
                  ><span style="font-family: 微软雅黑">货号</span></strong
                ></span
              ></span
            >
          </td>
          <td
            colspan="1"
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              text-align: center;
              vertical-align: middle;
              white-space: normal;
            "
          >
            <span style="font-size: 12px"
              ><span style="color: #000000"
                ><strong
                  ><span style="font-family: 微软雅黑">图片</span></strong
                ></span
              ></span
            >
          </td>
          <td
            colspan="2"
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              text-align: center;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            <span style="font-size: 12px"
              ><span style="color: #000000"
                ><strong
                  ><span style="font-family: 微软雅黑">数量</span></strong
                ></span
              ></span
            >
          </td>
          <td
            colspan="2"
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              text-align: center;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            <span style="font-size: 12px"
              ><span style="color: #000000"
                ><strong
                  ><span style="font-family: 微软雅黑">单价</span></strong
                ></span
              ></span
            >
          </td>
          <td
            colspan="2"
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              text-align: center;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            <span style="font-size: 12px"
              ><span style="color: #000000"
                ><strong
                  ><span style="font-family: 微软雅黑">金额</span></strong
                ></span
              ></span
            >
          </td>
        </tr>
        <!-- {foreach $contract. as $key=>$vo } -->

        <?php $id=1; ?>
        {foreach $contract['products'] as $key=>$vo }

          <tr>
            <td
              style="
                border-bottom: 1px solid #000000;
                border-left: 1px solid #000000;
                border-right: 1px solid #000000;
                border-top: 1px solid #000000;
                height: 55px;
                text-align: center;
                vertical-align: middle;
                white-space: nowrap;
                font-size: 12px;
              "
            >
              <span style="font-size: 12px"
                ><span style="color: #000000"
                  ><strong
                    ><span style="font-family: 微软雅黑"><?php echo $id; ?></span></strong
                  ></span
                ></span
              >
            </td>
            <td
              colspan="3"
              style="
                border-bottom: 1px solid #000000;
                border-left: 1px solid #000000;
                border-right: 1px solid #000000;
                border-top: 1px solid #000000;
                text-align: center;
                vertical-align: middle;
                white-space: nowrap;
                width: 100px;
                font-size: 12px;
              "
            >
              &nbsp;<?php echo wordwrap($vo['goods_code'], 28, '<br />', true)  ?>
            </td>
            <td
              colspan="1"
              style="
                border-bottom: 1px solid #000000;
                border-left: 1px solid #000000;
                border-right: 1px solid #000000;
                border-top: 1px solid #000000;
                text-align: center;
                vertical-align: middle;
                white-space: normal;
              "
            >
              {if condition="($vo['goods_pic'] != '')"}
                  <img src="{$vo['goods_pic']}" height="56">
              {/if}
            </td>
            <td
              colspan="2"
              style="
                border-bottom: 1px solid #000000;
                border-left: 1px solid #000000;
                border-right: 1px solid #000000;
                border-top: 1px solid #000000;
                text-align: center;
                vertical-align: middle;
                white-space: nowrap;
                font-size: 12px;
              "
            >
              &nbsp; {$vo['number']}
            </td>
            <td
              colspan="2"
              style="
                border-bottom: 1px solid #000000;
                border-left: 1px solid #000000;
                border-right: 1px solid #000000;
                border-top: 1px solid #000000;
                text-align: center;
                vertical-align: middle;
                white-space: nowrap;
                font-size: 12px;
              "
            >
              {$vo['price']}
            </td>
            <td
              colspan="2"
              style="
                border-bottom: 1px solid #000000;
                border-left: 1px solid #000000;
                border-right: 1px solid #000000;
                border-top: 1px solid #000000;
                text-align: center;
                vertical-align: middle;
                white-space: nowrap;
                font-size: 12px;
              "
            >
            {$vo['amount']}
            </td>
          </tr>
        {notempty name="$vo['package']" }
        <?php $id++; ?>
        {foreach $vo['package'] as $k=>$v }
          <tr>
            <?php if($k == 0) { ?>
            <td rowspan="<?php echo count($vo['package']);?>"
                    style="
                      border-bottom: 1px solid #000000;
                      border-left: 1px solid #000000;
                      border-right: 1px solid #000000;
                      border-top: 1px solid #000000;
                      height: 55px;
                      text-align: center;
                      vertical-align: middle;
                      white-space: nowrap;
                      font-size: 12px;
                    "
            >
                    <span style="font-size: 12px"
                    ><span style="color: #000000"
                    ><strong
                    ><span style="font-family: 微软雅黑">&nbsp; <?php echo $id; ?></span></strong
                    ></span
                    ></span
                    >
            </td>
            <?php }?>
            <td
                    colspan="3"
                    style="
                      border-bottom: 1px solid #000000;
                      border-right: 1px solid #000000;
                      border-top: 1px solid #000000;
                      text-align: center;
                      vertical-align: middle;
                      white-space: nowrap;
                      border-spacing:0;
                      font-size: 12px;
                    "
            >
                    &nbsp; <?php echo $v['name'] ?>
            </td>
            <?php if($k == 0) { ?>
            <td
                    colspan="1"
                    rowspan="<?php echo count($vo['package']);?>"
                    style="
                      border-bottom: 1px solid #000000;
                      border-left: 1px solid #000000;
                      border-right: 1px solid #000000;
                      border-top: 1px solid #000000;
                      text-align: center;
                      vertical-align: middle;
                      white-space: normal;
                      font-size: 12px;
                    "
            >
              &nbsp;
            </td>
            <?php }?>
            <?php if($k == 0) { ?>
            <td
                    colspan="2"
                    rowspan="<?php echo count($vo['package']);?>"
                    style="
                      border-bottom: 1px solid #000000;
                      border-left: 1px solid #000000;
                      border-right: 1px solid #000000;
                      border-top: 1px solid #000000;
                      text-align: center;
                      vertical-align: middle;
                      white-space: nowrap;
                    "
            >
              &nbsp;
            </td>
            <?php }?>
            <?php if($k == 0) { ?>
            <td
                    colspan="2"
                    rowspan="<?php echo count($vo['package']);?>"
                    style="
                      border-bottom: 1px solid #000000;
                      border-left: 1px solid #000000;
                      border-right: 1px solid #000000;
                      border-top: 1px solid #000000;
                      vertical-align: middle;
                      white-space: nowrap;
                      font-size: 12px;
                    "
            >

            </td>
            <?php }?>
            <?php if($k == 0) { ?>
            <td
                    colspan="2"
                    rowspan="<?php echo count($vo['package']);?>"
                    style="
                      border-bottom: 1px solid #000000;
                      border-left: 1px solid #000000;
                      border-right: 1px solid #000000;
                      border-top: 1px solid #000000;
                      text-align: center;
                      vertical-align: middle;
                      white-space: nowrap;
                    "
            >

            </td>
            <?php }?>
          </tr>
        {/foreach}
        {/notempty}
        <?php $id++; ?>
        {/foreach}
        <tr>
          <td
            colspan="4"
            style="
              background-color: #ffffff;
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              height: 33px;
              text-align: right;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            <span style="font-size: 12px"
              ><span style="color: #000000"
                ><strong
                  ><span style="font-family: 宋体">金额合计：</span></strong
                ></span
              ></span
            >
          </td>
          <td
            colspan="3"
            style="
              background-color: #ffffff;
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: none;
              border-top: 1px solid #000000;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            <span style="font-size: 12px"
              ><span style="color: #000000"
                ><strong
                  ><span style="font-family: 宋体">{$format_amount}</span></strong
                ></span
              ></span
            >
          </td>
          <td
            colspan="2"
            style="
              background-color: #ffffff;
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              text-align: right;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            <span style="font-size: 12px"
              ><span style="color: #000000"
                ><strong
                  ><span style="font-family: 宋体">总金额：</span></strong
                ></span
              ></span
            >
          </td>
          <td
            colspan="2"
            style="
              background-color: #ffffff;
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              text-align: center;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            <span style="font-size: 12px"
              ><span style="color: #000000"
                ><strong
                  ><span style="font-family: 宋体">
                    {if condition="($currency == 'rmb')"}
                    ￥
                    {else /}
                    $
                    {/if}
                    {$contract['amount']}</span></strong
                ></span
              ></span
            >
          </td>
        </tr>
        <tr>
          <td
            colspan="11"
            style="
              border-bottom: 1px solid #000000;
              border-left: none;
              border-right: none;
              border-top: 1px solid #000000;
              height: 16px;
              text-align: center;
              vertical-align: middle;
              white-space: normal;
            "
          >
            <span style="font-size: 12px"
              ><span style="color: #000000"
                ><span style="font-family: 宋体">额外配件信息</span></span
              ></span
            >
          </td>
        </tr>
        <tr>
          <td
            colspan="3"
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 0.4px solid #000000;
              border-top: 1px solid #000000;
              height: 16px;
              text-align: center;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            <span style="font-size: 12px"
              ><span style="color: #000000"
                ><span style="font-family: 宋体">货号</span></span
              ></span
            >
          </td>
          <td
            colspan="4"
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              text-align: center;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            <span style="font-size: 12px"
              ><span style="color: #000000"
                ><span style="font-family: 宋体">中文品名</span></span
              ></span
            >
          </td>
          <td
            colspan="2"
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              text-align: center;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            colspan="2"
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 0.4px solid #000000;
              border-top: 1px solid #000000;
              text-align: center;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            <span style="font-size: 12px"
              ><span style="color: #000000"
                ><span style="font-family: 宋体">数量</span></span
              ></span
            >
          </td>
        </tr>
        {foreach $contract['parts'] as $key=>$vo }

        <tr>
          <td
            colspan="3"
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 0.4px solid #000000;
              border-top: 1px solid #000000;
              height: 16px;
              text-align: center;
              vertical-align: middle;
              white-space: nowrap;
              font-size: 12px;
            "
          >
            &nbsp;{$vo['goods_code']}
          </td>
          <td
            colspan="4"
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              text-align: center;
              vertical-align: middle;
              white-space: nowrap;
              font-size: 12px;
            "
          >
            <span style="font-size: 12px"
              ><span style="color: #000000"
                ><span style="font-family: 宋体">{$vo['goods_name']}</span></span
              ></span
            >
          </td>
          <td
            colspan="2"
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              text-align: center;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            colspan="2"
            style="
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              border-top: 1px solid #000000;
              text-align: center;
              vertical-align: middle;
              white-space: nowrap;
              font-size: 12px;
            "
          >
            <span style="font-size: 12px"
              ><span style="color: #000000"
                ><span style="font-family: 宋体">{$vo['number']}</span></span
              ></span
            >
          </td>
        </tr>
        {/foreach}
        <tr>
          <td
          colspan="11"
          style="
          border-bottom: none;
          border-left: none;
          border-right: none;
          border-top: none;
          height: 28px;
          text-align: left;
          vertical-align: middle;
          white-space: nowrap;
          max-width: 725px;
        ">
            {$contract['content']|raw}
          </td>
        </tr>
        <tr>
          <td
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              height: 28px;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
        </tr>
        <tr>
          <td
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              height: 3px;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
        </tr>
        <tr>
          <td
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              height: 30px;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              background-color: #ffffff;
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              background-color: #ffffff;
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
          <td
            style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            &nbsp;
          </td>
        </tr>
        <tr>
          <td
                  colspan="11"
                  style="
              border-bottom: none;
              border-left: none;
              border-right: none;
              border-top: none;
              height: 27px;
              text-align: left;
              vertical-align: middle;
              white-space: nowrap;
            "
          >
            <table style="width: 100%;">
              <tr>
                <td style="
                    border-bottom: none;
                    border-left: none;
                    border-right: none;
                    border-top: none;
                    height: 27px;
                    text-align: right;
                    vertical-align: middle;
                    white-space: nowrap;
                    width: 5%;
                  "
                >
                    <span style="display: inline-block; font-size: 12px; float: left;">需方：</span>
                </td>
                <td style="
                    border-bottom: 1px solid #000000;
                    border-left: none;
                    border-right: none;
                    border-top: none;
                    height: 27px;
                    text-align: left;
                    vertical-align: middle;
                    white-space: nowrap;
                    width: 20%;
                  "
                >
                </td>
                <td
                        style="
                    border-bottom: none;
                    border-left: none;
                    border-right: none;
                    border-top: none;
                    height: 27px;
                    text-align: left;
                    vertical-align: middle;
                    white-space: nowrap;
                    width: 50%;
                  "
                >
                </td>
                <td style="
                    border-bottom: none;
                    border-left: none;
                    border-right: none;
                    border-top: none;
                    height: 27px;
                    text-align: right;
                    vertical-align: middle;
                    white-space: nowrap;
                    width: 5%;
                  "
                >
                    <span style="display: inline-block; font-size: 12px; float: left;">供方：</span>
                </td>
                <td style="
                    border-bottom: 1px solid #000000;
                    border-left: none;
                    border-right: none;
                    border-top: none;
                    height: 27px;
                    text-align: left;
                    vertical-align: middle;
                    white-space: nowrap;
                    width: 20%;
                  "
                >
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
